In [1]:
import pandas as pd

In [2]:
icdCodesProc = pd.read_csv("d_icd_procedures.csv")

In [3]:
procedures = pd.read_csv("procedures_icd.csv")

In [4]:
procedures = procedures[procedures.icd_version != 9]

In [5]:
#specified_codes = ['0VT00ZZ', '0DBJ0ZZ', '0UT90ZZ', '0SRC0J9', '0FB40ZZ', '0JH604Z'] ### Can directly add specific codes
#filtered_rows = procedures[procedures['icd_code'].isin(specified_codes)]
filtered_rows = procedures[procedures['icd_code'].str.startswith(('0DTJ', '0FT4'))] #appe or chole
filtered_rows = filtered_rows[filtered_rows['seq_num'] == 1]
filtered_rows

        subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
340       10004606  29242151        1  2159-02-25  0FT44ZZ           10
519       10006431  28484351        1  2128-06-12  0FT44ZZ           10
790       10012206  23961896        1  2127-07-10  0FT44ZZ           10
1498      10022373  29953960        1  2150-06-30  0FT40ZZ           10
2662      10039870  22600344        1  2176-04-22  0DTJ0ZZ           10
...            ...       ...      ...         ...      ...          ...
664405    19929888  29471919        1  2174-01-25  0DTJ4ZZ           10
666089    19955582  26593491        1  2139-10-14  0DTJ4ZZ           10
666766    19965286  26100445        1  2171-12-16  0FT44ZZ           10
667489    19975995  26284923        1  2111-03-10  0DTJ4ZZ           10
668198    19987702  24320929        1  2131-05-15  0FT40ZZ           10

[1065 rows x 6 columns]

In [6]:
discharge = pd.read_csv('discharge.csv')

In [7]:
discharge.head()

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...

In [8]:
from readability import Readability

# Assuming df_procedures and df_discharge are your two DataFrames
procWNotes = pd.merge(filtered_rows, discharge[['hadm_id', 'text']], on='hadm_id')

def calculate_fk_score(text):
    score = 0
    try:
        text = text.split("Discharge Instructions",1)[1]
        r = Readability(text)
        score = r.flesch_kincaid().score
    except Exception as e:
        print(e)
        score = -1
    return score

def calculate_fk_grade(text):
    score = 0
    try:
        text = text.split("Discharge Instructions",1)[1]
        r = Readability(text)
        score = r.flesch_kincaid().grade_level
    except Exception as e:
        print(e)
        score = -1
    return score


procWNotes['flesch_kincaid_score'] = procWNotes['text'].apply(calculate_fk_score)
procWNotes['flesch_kincaid_grade'] = procWNotes['text'].apply(calculate_fk_grade)
# procWNotes = procWNotes.drop('text', axis=1)

100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
list index out of range
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
list index out of range
100 words required.
100 words required.
list index out of range
100 words required.
100 words required.
100 words required.
list index out of range
list index out of range
100 words required.
100 words required.
list index out of range
list index out of range
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
list index out of range
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
list index out of range
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
list index out of range
100 words required.
100 words required.
list index out of range
100 words required.
100 words required.
100 words required.
list index out of range
list index out of range
100 words required.
100 words required.
list index out of range
list index out of range
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
100 words required.
list index out of range
100 words required.

In [9]:
#removing notes that cause an error
procWNotes = procWNotes[procWNotes['flesch_kincaid_score'] != -1]
procWNotes = procWNotes[procWNotes['flesch_kincaid_grade'] != -1]

procWNotes

,subject_id,hadm_id,seq_num,chartdate,icd_code,icd_version,text,flesch_kincaid_score,flesch_kincaid_grade
0,10004606,29242151,1,2159-02-25,0FT44ZZ,10,\nName: ___ Unit No: ___\...,8.121622,8
1,10012206,23961896,1,2127-07-10,0FT44ZZ,10,\nName: ___ Unit No: ___...,6.949348,7
2,10022373,29953960,1,2150-06-30,0FT40ZZ,10,\nName: ___ Unit No: ___\n...,9.417138,9
3,10039870,22600344,1,2176-04-22,0DTJ0ZZ,10,\nName: ___ Unit No: ___\...,8.450618,8
4,10052530,27361644,1,2186-01-24,0DTJ4ZZ,10,\nName: ___ Unit No: __...,6.553958,7
...,...,...,...,...,...,...,...,...,...
1036,19929888,29471919,1,2174-01-25,0DTJ4ZZ,10,\nName: ___ Unit No: __...,6.631285,7
1037,19955582,26593491,1,2139-10-14,0DTJ4ZZ,10,\nName: ___ Unit No: ...,6.748787,7
1038,19965286,26100445,1,2171-12-16,0FT44ZZ,10,\nName: ___ Unit No: ___...,6.599717,7
1039,19975995,26284923,1,2111-03-10,0DTJ4ZZ,10,\nName: ___ Unit No: ___...,6.797813,7
1040,19987702,24320929,1,2131-05-15,0FT40ZZ,10,\nName: ___. Unit No: ___\n ...,8.878576,9

In [10]:
admissions = pd.read_csv("admissions.csv")

In [11]:
admissions.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

In [12]:
diagnoses = pd.read_csv('diagnoses_icd.csv')
diagnoses.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

In [23]:
diagnoses.loc[diagnoses['icd_code'].str.startswith(('T814', 'T813'))]

         subject_id   hadm_id  seq_num icd_code  icd_version
482        10001401  26840593        1  T814XXA           10
497        10001401  27012892        1  T8140XA           10
503        10001401  27012892        7  T8144XA           10
513        10001401  27060146        1  T814XXA           10
2288       10003400  23559586        1  T8131XA           10
...             ...       ...      ...      ...          ...
4755139    19997538  22701415        6  T814XXA           10
4755229    19997886  20793010       11  T8140XA           10
4756147    19999784  23664472        5  T8132XA           10
4756255    19999828  25744818        1  T8141XA           10
4756274    19999828  29734428        1  T8131XA           10

[2833 rows x 5 columns]

In [24]:
import pandas as pd

# Convert chartdate and admittime to datetime
procWNotes['chartdate'] = pd.to_datetime(procWNotes['chartdate'])
admissions['admittime'] = pd.to_datetime(admissions['admittime'])

# Merge the two dataframes on subject_id
merged_df = pd.merge(procWNotes, admissions, on='subject_id', suffixes=('_proc', '_adm'), how='left')

# Filter rows where admittime is within 30 days after chartdate but not same hadm_id
filtered_df = merged_df[(merged_df['admittime'] > merged_df['chartdate']) & 
                        (merged_df['admittime'] <= merged_df['chartdate'] + pd.Timedelta(days=30)) &
                        (merged_df['hadm_id_proc'] != merged_df['hadm_id_adm'])]

# Sort by the difference in days and drop duplicates to keep the closest date
filtered_df['date_diff'] = (filtered_df['admittime'] - filtered_df['chartdate']).dt.days
filtered_df = filtered_df.sort_values(by='date_diff').drop_duplicates(['subject_id', 'chartdate', 'icd_code'], keep='first')

diagWSurgInfec = diagnoses.loc[diagnoses['icd_code'].str.startswith(('T814', "T813"))]
# Now filtered_df contains the desired rows
hadmList = []
for index, row in filtered_df.iterrows():
    hadmAdm = row['hadm_id_adm']
    if diagWSurgInfec.loc[diagWSurgInfec['hadm_id'] == hadmAdm].shape[0]:
        hadmList.append(hadmAdm)

filtered_df = filtered_df[filtered_df['hadm_id_adm'].isin(hadmList)]

/var/folders/4x/vzxb2kss04955dfkk_r657bm0000gn/T/ipykernel_47960/2281405968.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['date_diff'] = (filtered_df['admittime'] - filtered_df['chartdate']).dt.days

In [25]:
# List of subject_ids to remove
ids_to_remove = filtered_df['subject_id'].tolist()

# Filter out rows where subject_id is in ids_to_remove
comparedDF = procWNotes[~procWNotes['subject_id'].isin(ids_to_remove)]

print(filtered_df)

      subject_id  hadm_id_proc  seq_num  chartdate icd_code  icd_version  \
299     11113542      26090767        1 2187-08-18  0FT44ZZ           10
2022    16764428      29406129        1 2142-10-31  0DTJ4ZZ           10
598     11950373      28675532        1 2154-10-19  0FT40ZZ           10
1082    13728990      20250540        1 2172-07-08  0FT40ZZ           10
2343    17857442      20082117        1 2121-01-05  0FT44ZZ           10
2612    18556743      29204410        1 2139-03-12  0DTJ4ZZ           10
1717    15601196      21853390        1 2112-12-01  0FT44ZZ           10
2750    19081869      26463015        1 2146-01-26  0DTJ4ZZ           10
655     12210494      28802493        1 2152-10-11  0DTJ4ZZ           10
683     12321369      26121111        1 2168-12-05  0FT44ZZ           10
2176    17281345      27711137        1 2174-09-18  0FT44ZZ           10
1340    14403325      21423092        1 2164-11-08  0FT44ZZ           10
2262    17581511      25168501        1 2187-09-21  0FT40ZZ           10
2933    19762009      23391641        1 2122-03-20  0FT40ZZ           10
752     12548662      25644822        1 2133-07-17  0DTJ4ZZ           10
25      10142213      29377846        1 2164-08-24  0FT40ZZ           10
728     12455270      22897790        1 2128-10-11  0FT40ZZ           10
2463    18133897      22601200        1 2134-02-03  0FT40ZZ           10
2414    18012481      23428078        1 2166-07-06  0DTJ4ZZ           10
2976    19921864      23559710        1 2132-12-03  0FT44ZZ           10
1804    15979265      29571347        1 2187-07-09  0FT40ZZ           10
2985    19975995      26284923        1 2111-03-10  0DTJ4ZZ           10
1310    14245205      29874547        1 2141-03-29  0DTJ0ZZ           10
1942    16395565      21351891        1 2133-05-25  0FT44ZZ           10
2587    18518712      20222873        1 2133-09-12  0FT44ZZ           10
2989    19987702      24320929        1 2131-05-15  0FT40ZZ           10
2475    18165055      28206519        1 2141-08-31  0DTJ4ZZ           10
7       10022373      29953960        1 2150-06-30  0FT40ZZ           10
641     12129224      23779451        1 2194-07-26  0FT44ZZ           10
2782    19230198      24235716        1 2182-02-24  0FT44ZZ           10
2171    17267800      22548939        1 2183-07-04  0FT40ZZ           10
990     13507972      27906537        1 2156-02-17  0FT44ZZ           10

                                                   text  flesch_kincaid_score  \
299    \nName:  ___                    Unit No:   __...              7.130171
2022   \nName:  ___              Unit No:   ___\n \n...              6.117635
598    \nName:  ___                         Unit No:...              6.450670
1082   \nName:  ___                   Unit No:   ___...              7.738690
2343   \nName:  ___                      Unit No:   ...              6.525661
2612   \nName:  ___                      Unit No:   ...              7.928726
1717   \nName:  ___                       Unit No:  ...              6.766343
2750   \nName:  ___             Unit No:   ___\n \nA...              6.631739
655    \nName:  ___                Unit No:   ___\n ...              6.490830
683    \nName:  ___                   Unit No:   ___...              6.601152
2176   \nName:  ___                   Unit No:   ___...              6.857077
1340   \nName:  ___                 Unit No:   ___\n...              6.161441
2262   \nName:  ___                     Unit No:   _...              8.629111
2933   \nName:  ___                  Unit No:   ___\...              8.633912
752    \nName:  ___                 Unit No:   ___\n...              7.434004
25     \nName:  ___                    Unit No:   __...              8.240040
728    \nName:  ___                   Unit No:   ___...              6.601549
2463   \nName:  ___                 Unit No:   ___\n...              8.164107
2414   \nName:  ___                   Unit No:   ___...              7.224747
2976   \nName:  ___                  Unit No:   ___\...              6.921073
1804   \nName:  ___                      Unit No:   ...              6.463228
2985   \nName:  ___                   Unit No:   ___...              6.797813
1310   \nName:  ___                   Unit No:   ___...              8.852007
1942   \nName:  ___                   Unit No:   ___...              6.385351
2587   \nName:  ___                 Unit No:   ___\n...              6.931692
2989   \nName:  ___.               Unit No:   ___\n ...              8.878576
2475   \nName:  ___                      Unit No:   ...              8.746965
7      \nName:  ___                 Unit No:   ___\n...              9.417138
641    \nName:  ___.                Unit No:   ___\n...              6.381169
2782   \nName:  ___                  Unit No:   ___\...              8.311656
2171   \nName:  ___                    Unit No:   __...              9.092907
990    \nName:  ___                     Unit No:   _...              7.300136

     flesch_kincaid_grade  hadm_id_adm  ...  \
299                     7     20766672  ...
2022                    6     24753584  ...
598                     6     27184128  ...
1082                    8     26565048  ...
2343                    7     28251628  ...
2612                    8     28420600  ...
1717                    7     25273905  ...
2750                    7     29391585  ...
655                     6     27349819  ...
683                     7     24815351  ...
2176                    7     21781578  ...
1340                    6     21019293  ...
2262                    9     20062457  ...
2933                    9     27717790  ...
752                     7     25019633  ...
25                      8     20154856  ...
728                     7     27064052  ...
2463                    8     20972261  ...
2414                    7     21587834  ...
2976                    7     24741237  ...
1804                    6     27499433  ...
2985                    7     29336309  ...
1310                    9     29323837  ...
1942                    6     28391825  ...
2587                    7     23256847  ...
2989                    9     27149559  ...
2475                    9     22133907  ...
7                       9     28740561  ...
641                     6     24713629  ...
2782                    8     25425662  ...
2171                    9     21850596  ...
990                     7     21392279  ...

                          admission_location        discharge_location  \
299                   TRANSFER FROM HOSPITAL                      HOME
2022                          EMERGENCY ROOM                       NaN
598                           EMERGENCY ROOM                       NaN
1082                          EMERGENCY ROOM          HOME HEALTH CARE
2343                  TRANSFER FROM HOSPITAL          HOME HEALTH CARE
2612                         CLINIC REFERRAL                       NaN
1717                   WALK-IN/SELF REFERRAL                      HOME
2750                      PHYSICIAN REFERRAL                       NaN
655                          CLINIC REFERRAL                      HOME
683                           EMERGENCY ROOM  SKILLED NURSING FACILITY
2176                          EMERGENCY ROOM                       NaN
1340                          EMERGENCY ROOM          HOME HEALTH CARE
2262                   WALK-IN/SELF REFERRAL          HOME HEALTH CARE
2933                          EMERGENCY ROOM  SKILLED NURSING FACILITY
752                           EMERGENCY ROOM                      HOME
25                        PHYSICIAN REFERRAL          HOME HEALTH CARE
728                   TRANSFER FROM HOSPITAL                      HOME
2463                          EMERGENCY ROOM                     REHAB
2414                      PHYSICIAN REFERRAL                       NaN
2976                  TRANSFER FROM HOSPITAL  SKILLED NURSING FACILITY
1804                      PHYSICIAN REFERRAL          HOME HEALTH CARE
2985                          EMERGENCY ROOM          HOME HEALTH CARE
1310                          EMERGENCY ROOM          HOME HEALTH CARE
1942  TRANSFER FROM SKILLED NURSING FACILITY  SKILLED NURSING FACILITY
2587                      PHYSICIAN REFERRAL          HOME HEALTH CARE
2989                  TRANSFER FROM HOSPITAL                      HOME
2475                      PHYSICIAN REFERRAL                      HOME
7                             EMERGENCY ROOM  SKILLED NURSING FACILITY
641                   TRANSFER FROM HOSPITAL                       NaN
2782                   WALK-IN/SELF REFERRAL          HOME HEALTH CARE
2171                          EMERGENCY ROOM  SKILLED NURSING FACILITY
990                       PHYSICIAN REFERRAL                      HOME

     insurance language marital_status                          race  \
299      Other  ENGLISH       DIVORCED                         WHITE
2022     Other  ENGLISH         SINGLE                         WHITE
598      Other        ?        MARRIED               ASIAN - CHINESE
1082     Other  ENGLISH        MARRIED                         OTHER
2343  Medicare  ENGLISH        MARRIED                         WHITE
2612     Other  ENGLISH        MARRIED                         WHITE
1717     Other        ?        MARRIED               ASIAN - CHINESE
2750     Other  ENGLISH        MARRIED                         WHITE
655      Other  ENGLISH         SINGLE  HISPANIC/LATINO - SALVADORAN
683   Medicare  ENGLISH         SINGLE        BLACK/AFRICAN AMERICAN
2176     Other        ?        MARRIED  HISPANIC/LATINO - GUATEMALAN
1340  Medicare  ENGLISH        MARRIED                         WHITE
2262  Medicare  ENGLISH        MARRIED                         WHITE
2933     Other  ENGLISH       DIVORCED      WHITE - EASTERN EUROPEAN
752      Other  ENGLISH         SINGLE                         WHITE
25       Other  ENGLISH       DIVORCED                         WHITE
728   Medicaid  ENGLISH         SINGLE                         WHITE
2463  Medicare  ENGLISH       DIVORCED                         WHITE
2414     Other  ENGLISH         SINGLE                         WHITE
2976  Medicare        ?        MARRIED                         WHITE
1804  Medicaid        ?        MARRIED               ASIAN - CHINESE
2985     Other  ENGLISH         SINGLE        BLACK/AFRICAN AMERICAN
1310     Other  ENGLISH        MARRIED                         WHITE
1942  Medicare  ENGLISH         SINGLE      WHITE - EASTERN EUROPEAN
2587  Medicare        ?        MARRIED  HISPANIC/LATINO - GUATEMALAN
2989     Other  ENGLISH        MARRIED                         WHITE
2475     Other  ENGLISH        MARRIED                         WHITE
7     Medicare  ENGLISH         SINGLE                         WHITE
641   Medicare  ENGLISH         SINGLE                         WHITE
2782     Other  ENGLISH        MARRIED                         WHITE
2171  Medicare  ENGLISH         SINGLE                         WHITE
990      Other        ?        MARRIED               ASIAN - CHINESE

                edregtime            edouttime hospital_expire_flag date_diff
299   2187-08-20 15:43:00  2187-08-21 01:03:00                    0         2
2022  2142-11-03 09:21:00  2142-11-03 23:10:00                    0         3
598   2154-10-23 12:51:00  2154-10-23 18:44:00                    0         4
1082  2172-07-13 20:32:00  2172-07-14 00:14:00                    0         5
2343  2121-01-10 02:54:00  2121-01-10 07:45:00                    0         5
2612  2139-03-16 22:02:00  2139-03-17 21:17:00                    0         5
1717  2112-12-07 11:18:00  2112-12-07 20:11:00                    0         6
2750  2146-02-01 11:53:00  2146-02-01 16:43:00                    0         6
655   2152-10-18 12:15:00  2152-10-18 19:37:00                    0         7
683   2168-12-14 17:30:00  2168-12-15 00:25:00                    0         9
2176  2174-09-27 21:57:00  2174-09-28 04:52:00                    0        10
1340  2164-11-19 11:28:00  2164-11-19 19:14:00                    0        11
2262  2187-10-02 15:29:00  2187-10-02 22:16:00                    0        11
2933  2122-03-31 02:16:00  2122-03-31 10:22:00                    0        11
752   2133-07-28 23:01:00  2133-07-29 09:07:00                    0        12
25    2164-09-05 16:47:00  2164-09-06 09:47:00                    0        13
728   2128-10-24 15:42:00  2128-10-25 22:22:00                    0        13
2463  2134-02-16 10:28:00  2134-02-16 11:49:00                    0        13
2414  2166-07-19 16:55:00  2166-07-20 10:16:00                    0        14
2976  2132-12-17 15:42:00  2132-12-18 01:27:00                    0        15
1804                  NaN                  NaN                    0        15
2985  2111-03-25 11:14:00  2111-03-25 18:06:00                    0        15
1310  2141-04-13 07:00:00  2141-04-13 16:20:00                    0        15
1942  2133-06-09 16:55:00  2133-06-10 01:14:00                    0        16
2587                  NaN                  NaN                    0        16
2989  2131-06-01 01:14:00  2131-06-01 16:26:00                    0        17
2475  2141-09-17 19:29:00  2141-09-18 02:06:00                    0        18
7     2150-07-18 14:20:00  2150-07-19 02:33:00                    0        19
641   2194-08-14 18:44:00  2194-08-15 16:58:00                    0        20
2782  2182-03-16 14:56:00  2182-03-17 05:09:00                    0        21
2171  2183-07-25 14:57:00  2183-07-26 02:17:00                    0        22
990   2156-03-16 09:10:00  2156-03-16 21:21:00                    0        28

[32 rows x 25 columns]

In [26]:
print(comparedDF)

      subject_id   hadm_id  seq_num  chartdate icd_code  icd_version  \
0       10004606  29242151        1 2159-02-25  0FT44ZZ           10
1       10012206  23961896        1 2127-07-10  0FT44ZZ           10
3       10039870  22600344        1 2176-04-22  0DTJ0ZZ           10
4       10052530  27361644        1 2186-01-24  0DTJ4ZZ           10
5       10052926  29714792        1 2123-07-21  0FT44ZZ           10
...          ...       ...      ...        ...      ...          ...
1033    19915985  28996362        1 2132-11-22  0DTJ4ZZ           10
1035    19929060  28158118        1 2138-10-17  0DTJ4ZZ           10
1036    19929888  29471919        1 2174-01-25  0DTJ4ZZ           10
1037    19955582  26593491        1 2139-10-14  0DTJ4ZZ           10
1038    19965286  26100445        1 2171-12-16  0FT44ZZ           10

                                                   text  flesch_kincaid_score  \
0      \nName:  ___                  Unit No:   ___\...              8.121622
1      \nName:  ___                   Unit No:   ___...              6.949348
3      \nName:  ___                  Unit No:   ___\...              8.450618
4      \nName:  ___                    Unit No:   __...              6.553958
5      \nName:  ___                       Unit No:  ...              6.545020
...                                                 ...                   ...
1033   \nName:  ___                    Unit No:   __...              6.584405
1035   \nName:  ___                   Unit No:   ___...              6.547738
1036   \nName:  ___                    Unit No:   __...              6.631285
1037   \nName:  ___                       Unit No:  ...              6.748787
1038   \nName:  ___                   Unit No:   ___...              6.599717

     flesch_kincaid_grade
0                       8
1                       7
3                       8
4                       7
5                       7
...                   ...
1033                    7
1035                    7
1036                    7
1037                    7
1038                    7

[975 rows x 9 columns]

In [27]:
readmits = filtered_df['flesch_kincaid_score'].tolist()
compared = comparedDF['flesch_kincaid_score'].tolist()

In [28]:
filtered_df['readmit'] = [1] * filtered_df.shape[0]
comparedDF['readmit'] = [0] * comparedDF.shape[0]

/var/folders/4x/vzxb2kss04955dfkk_r657bm0000gn/T/ipykernel_47960/2443490398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comparedDF['readmit'] = [0] * comparedDF.shape[0]

In [29]:
filtered_df = filtered_df.rename(columns={"hadm_id_proc": "hadm_id"})

In [30]:
finalData = pd.concat([filtered_df, comparedDF], axis=0)

In [31]:
finalData = finalData.dropna(axis=1)

In [32]:
finalData

,subject_id,hadm_id,seq_num,chartdate,icd_code,icd_version,text,flesch_kincaid_score,flesch_kincaid_grade,readmit
299,11113542,26090767,1,2187-08-18,0FT44ZZ,10,\nName: ___ Unit No: __...,7.130171,7,1
2022,16764428,29406129,1,2142-10-31,0DTJ4ZZ,10,\nName: ___ Unit No: ___\n \n...,6.117635,6,1
598,11950373,28675532,1,2154-10-19,0FT40ZZ,10,\nName: ___ Unit No:...,6.450670,6,1
1082,13728990,20250540,1,2172-07-08,0FT40ZZ,10,\nName: ___ Unit No: ___...,7.738690,8,1
2343,17857442,20082117,1,2121-01-05,0FT44ZZ,10,\nName: ___ Unit No: ...,6.525661,7,1
...,...,...,...,...,...,...,...,...,...,...
1033,19915985,28996362,1,2132-11-22,0DTJ4ZZ,10,\nName: ___ Unit No: __...,6.584405,7,0
1035,19929060,28158118,1,2138-10-17,0DTJ4ZZ,10,\nName: ___ Unit No: ___...,6.547738,7,0
1036,19929888,29471919,1,2174-01-25,0DTJ4ZZ,10,\nName: ___ Unit No: __...,6.631285,7,0
1037,19955582,26593491,1,2139-10-14,0DTJ4ZZ,10,\nName: ___ Unit No: ...,6.748787,7,0
1038,19965286,26100445,1,2171-12-16,0FT44ZZ,10,\nName: ___ Unit No: ___...,6.599717,7,0

In [36]:
otherData = pd.read_csv('MIMIC_Data_Transformation_Outputs/output_v3.csv')

In [37]:
otherData.columns

Index(['stay_id', 'subject_id', 'hadm_id', 'ed_encounter_num',
       'ed_primary_icd_code', 'ed_primary_icd_version', 'ed_primary_icd_title',
       'ed_primary_icd_title_is_of_interest',
       'ed_primary_icd_dxes_blood_thinner_target', 'ed_num_meds', 'ed_gender',
       'ed_race', 'ed_race_coded', 'hosp_adm_death_time', 'hosp_adm_insurance',
       'hosp_adm_language', 'hosp_adm_marital_status', 'hosp_adm_race',
       'hosp_adm_race_coded', 'death_subseq_ed_encounters',
       'num_subseq_ed_encounters', 'num_total_visits',
       'num_subseq_icu_admissions', 'blood_thinner', 'blood_thinner_pt',
       'total_hours_inpt_post_blood_thinner_drg_primary',
       'total_hours_inpt_post_blood_thinner_drg_secondary',
       'drg_national_payment_rate_primary',
       'drg_national_payment_rate_secondary',
       'total_hours_inpt_post_blood_thinner_icd',
       'total_visits_inpt_post_blood_thinner_icd',
       'total_hours_inpt_post_blood_thinner_icd_primary',
       'total_visits_inpt_post_blood_thinner_icd_primary',
       'total_hours_inpt_post_blood_thinner_icd_secondary',
       'total_visits_inpt_post_blood_thinner_icd_secondary',
       'not_on_htn_subseq_ed_encounter',
       'not_on_htn_subseq_ed_encounter_num_visits',
       'on_htn_subseq_ed_encounter_num_visits', 'current_pt_ed_gender_coded',
       'xa_inh', 'current_pt_ever_htn_vs', 'current_pt_ever_htn_icd',
       'current_pt_ever_htn_meds_full', 'current_pt_pt_anchor_age',
       'current_pt_pt_anchor_year', 'current_pt_anchor_year_group'],
      dtype='object')

In [38]:
otherData = otherData.drop(columns=['ed_encounter_num',
       'ed_primary_icd_code', 'ed_primary_icd_version', 'ed_primary_icd_title',
       'ed_primary_icd_title_is_of_interest',
       'ed_primary_icd_dxes_blood_thinner_target', 'ed_num_meds', 'ed_gender',
       'ed_race', 'ed_race_coded', 'stay_id', 'subject_id', 'ed_race', 'ed_race_coded', 'hosp_adm_death_time',  'hosp_adm_marital_status','death_subseq_ed_encounters',
       'num_subseq_ed_encounters', 'num_total_visits',
       'num_subseq_icu_admissions', 'blood_thinner', 'blood_thinner_pt',
       'total_hours_inpt_post_blood_thinner_drg_primary',
       'total_hours_inpt_post_blood_thinner_drg_secondary',
       'drg_national_payment_rate_primary',
       'drg_national_payment_rate_secondary',
       'total_hours_inpt_post_blood_thinner_icd',
       'total_hours_inpt_post_blood_thinner_icd_primary',
       'total_hours_inpt_post_blood_thinner_icd_secondary',
       'not_on_htn_subseq_ed_encounter', 'current_pt_ed_gender_coded',
       'xa_inh'])

In [39]:
datasetWithInsurance = pd.merge(finalData, otherData, on='hadm_id', how='left')
datasetWithInsurance #encode categorical variables (language, race)

,subject_id,hadm_id,seq_num,chartdate,icd_code,icd_version,text,flesch_kincaid_score,flesch_kincaid_grade,readmit,...,total_visits_inpt_post_blood_thinner_icd_primary,total_visits_inpt_post_blood_thinner_icd_secondary,not_on_htn_subseq_ed_encounter_num_visits,on_htn_subseq_ed_encounter_num_visits,current_pt_ever_htn_vs,current_pt_ever_htn_icd,current_pt_ever_htn_meds_full,current_pt_pt_anchor_age,current_pt_pt_anchor_year,current_pt_anchor_year_group
0,11113542,26090767,1,2187-08-18,0FT44ZZ,10,\nName: ___ Unit No: __...,7.130171,7,1,...,0.0,0.0,0.0,0.0,False,False,False,61.0,2187.0,2017 - 2019
1,16764428,29406129,1,2142-10-31,0DTJ4ZZ,10,\nName: ___ Unit No: ___\n \n...,6.117635,6,1,...,0.0,0.0,0.0,0.0,True,False,False,34.0,2142.0,2014 - 2016
2,11950373,28675532,1,2154-10-19,0FT40ZZ,10,\nName: ___ Unit No:...,6.450670,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13728990,20250540,1,2172-07-08,0FT40ZZ,10,\nName: ___ Unit No: ___...,7.738690,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17857442,20082117,1,2121-01-05,0FT44ZZ,10,\nName: ___ Unit No: ...,6.525661,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,19915985,28996362,1,2132-11-22,0DTJ4ZZ,10,\nName: ___ Unit No: __...,6.584405,7,0,...,0.0,0.0,0.0,0.0,False,False,False,41.0,2132.0,2017 - 2019
1003,19929060,28158118,1,2138-10-17,0DTJ4ZZ,10,\nName: ___ Unit No: ___...,6.547738,7,0,...,0.0,0.0,1.0,0.0,True,False,False,30.0,2138.0,2014 - 2016
1004,19929888,29471919,1,2174-01-25,0DTJ4ZZ,10,\nName: ___ Unit No: __...,6.631285,7,0,...,0.0,0.0,0.0,0.0,True,False,False,30.0,2174.0,2014 - 2016
1005,19955582,26593491,1,2139-10-14,0DTJ4ZZ,10,\nName: ___ Unit No: ...,6.748787,7,0,...,0.0,0.0,0.0,0.0,False,False,False,57.0,2139.0,2014 - 2016
1006,19965286,26100445,1,2171-12-16,0FT44ZZ,10,\nName: ___ Unit No: ___...,6.599717,7,0,...,0.0,0.0,0.0,0.0,False,False,True,62.0,2171.0,2014 - 2016

In [40]:
datasetWithInsurance['hosp_adm_insurance'] = datasetWithInsurance['hosp_adm_insurance'].astype('category')
datasetWithInsurance['Insurance_Code'] = datasetWithInsurance['hosp_adm_insurance'].cat.codes
insuranceToCode = dict(enumerate(datasetWithInsurance['hosp_adm_insurance'].cat.categories))

datasetWithInsurance['hosp_adm_language'] = datasetWithInsurance['hosp_adm_language'].astype('category')
datasetWithInsurance['Language_Code'] = datasetWithInsurance['hosp_adm_language'].cat.codes
languageToCode = dict(enumerate(datasetWithInsurance['hosp_adm_language'].cat.categories))

In [41]:
datasetWithInsurance = datasetWithInsurance.drop(columns=['hosp_adm_race_coded', 'text'])

In [42]:
raceEncoded = []
for index, row in datasetWithInsurance.iterrows():
	current_pt_ed_race = row['hosp_adm_race']
	current_pt_ed_race_coded = ''
	if current_pt_ed_race in ['WHITE', 'WHITE - RUSSIAN', 'WHITE - BRAZILIAN','PORTUGUESE', 'WHITE - OTHER EUROPEAN','WHITE - EASTERN EUROPEAN']:
		current_pt_ed_race_coded = 0
	elif current_pt_ed_race in ['BLACK/AFRICAN AMERICAN', 'BLACK/CAPE VERDEAN','BLACK/CARIBBEAN ISLAND','BLACK/AFRICAN']:
		current_pt_ed_race_coded = 1
	elif current_pt_ed_race in ['HISPANIC/LATINO - DOMINICAN', 'HISPANIC/LATINO - SALVADORAN','HISPANIC/LATINO - PUERTO RICAN', 
								'HISPANIC/LATINO - GUATEMALAN', 'HISPANIC OR LATINO', 'HISPANIC/LATINO - MEXICAN','HISPANIC/LATINO - COLUMBIAN',
								'SOUTH AMERICAN','HISPANIC/LATINO - CUBAN','HISPANIC/LATINO - HONDURAN','HISPANIC/LATINO - CENTRAL AMERICAN']:
		current_pt_ed_race_coded = 2
	elif current_pt_ed_race in ['ASIAN', 'ASIAN - SOUTH EAST ASIAN', 'ASIAN - CHINESE','ASIAN - ASIAN INDIAN','ASIAN - KOREAN']:
		current_pt_ed_race_coded = 3
	elif current_pt_ed_race in ['MULTIPLE RACE/ETHNICITY']:
		current_pt_ed_race_coded = 4
	elif current_pt_ed_race in ['AMERICAN INDIAN/ALASKA NATIVE', 'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER']:
		current_pt_ed_race_coded = 5
	elif current_pt_ed_race in ['OTHER','UNKNOWN','UNABLE TO OBTAIN','PATIENT DECLINED TO ANSWER']:
		current_pt_ed_race_coded = 6
	else:
		current_pt_ed_race_coded = -1
	raceEncoded.append(current_pt_ed_race_coded)

datasetWithInsurance['raceEncoded'] = raceEncoded
datasetWithInsurance

,subject_id,hadm_id,seq_num,chartdate,icd_code,icd_version,flesch_kincaid_score,flesch_kincaid_grade,readmit,hosp_adm_insurance,...,on_htn_subseq_ed_encounter_num_visits,current_pt_ever_htn_vs,current_pt_ever_htn_icd,current_pt_ever_htn_meds_full,current_pt_pt_anchor_age,current_pt_pt_anchor_year,current_pt_anchor_year_group,Insurance_Code,Language_Code,raceEncoded
0,11113542,26090767,1,2187-08-18,0FT44ZZ,10,7.130171,7,1,Other,...,0.0,False,False,False,61.0,2187.0,2017 - 2019,2,1,0
1,16764428,29406129,1,2142-10-31,0DTJ4ZZ,10,6.117635,6,1,Other,...,0.0,True,False,False,34.0,2142.0,2014 - 2016,2,1,0
2,11950373,28675532,1,2154-10-19,0FT40ZZ,10,6.450670,6,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,-1
3,13728990,20250540,1,2172-07-08,0FT40ZZ,10,7.738690,8,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,-1
4,17857442,20082117,1,2121-01-05,0FT44ZZ,10,6.525661,7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,19915985,28996362,1,2132-11-22,0DTJ4ZZ,10,6.584405,7,0,Other,...,0.0,False,False,False,41.0,2132.0,2017 - 2019,2,1,0
1003,19929060,28158118,1,2138-10-17,0DTJ4ZZ,10,6.547738,7,0,Other,...,0.0,True,False,False,30.0,2138.0,2014 - 2016,2,1,0
1004,19929888,29471919,1,2174-01-25,0DTJ4ZZ,10,6.631285,7,0,Other,...,0.0,True,False,False,30.0,2174.0,2014 - 2016,2,1,2
1005,19955582,26593491,1,2139-10-14,0DTJ4ZZ,10,6.748787,7,0,Other,...,0.0,False,False,False,57.0,2139.0,2014 - 2016,2,1,3
1006,19965286,26100445,1,2171-12-16,0FT44ZZ,10,6.599717,7,0,Other,...,0.0,False,False,True,62.0,2171.0,2014 - 2016,2,1,0

In [43]:
datasetWithInsurance.to_csv('readability_output_SSI.csv')

In [35]:
#If we run GPT

import openai

openai.api_key = "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"

summarizedTextList = []
for index, row in discharge.iterrows():
  print(index)
  response = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
      {
        "role": "user",
        "content": "Please convert the following discharge note to the reading level of the average american"
      },
      {
        "role": "user",
        "content": f"{discharge.iloc[index]['text'].split('Discharge Instructions',1)[1]}"
      },
    ],
    temperature=1,
    max_tokens=256,
    top_p=1,
    frequency_penalty=0,
    presence_penalty=0
  )
  print(response["choices"][0]["message"]['content'])
  summarizedText = response["choices"][0]["message"]['content']
  summarizedTextList.append(response["choices"][0]["message"]['content'])

0

KeyboardInterrupt: